

a > .linkText{
  
 
font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
  
}

a{
  display: flex;
  text-decoration: none;
  font-family: Familjen Grotesk;
 
  color: var(--text-secondary, #4B4848);
font-family: DM Sans;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
  white-space: nowrap;

  align-items: center;
  justify-content: center;
  /* padding-inline: 20px; */
 

  
}

