

a {
  color:  #4B4848;
  font-family: Familjen Grotesk;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

a.active {
 
  color: #700511;
    border-bottom: 4px solid #700511;
   
    width: 56px;
}

a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: blue;
  position: absolute;
  bottom: 10px;
  left: 0;
  transition: width 0.3s ease;
}

a.active::after {
  width: 56px;
}
