.mainCardWrappers{
    display: flex;
width: 100%;
padding: 8px 12px;
justify-content: space-between;
align-items: center;
border-top: 2px solid #F2F2F2;
}
.mainCardWrapper h1{
    color: var(--text-primary, #2C2B2B);
font-family: Familjen Grotesk;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.mainCardWrapper h2{
    color: var(--text-primary, #2C2B2B);
font-family: Familjen Grotesk;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}