

.InputWrapper {
width:100%;

  align-items: center;
  display: flex;
  flex-direction: row;
  border-radius: 10px;
  padding: 8px 24px;
  height: 48px;
  transition: 0.3s all ease;
  background-color:  "#f2f2f2";

  &:focus {
    outline: none;
    border-color: yellow;
  }

  @media screen and (max-width: 600px) {
    height: 48px;
  }
}


.custom-div {
border:1px solid #4B4848;
  display: flex;
  flex-flow: column;
  gap: clamp(8px, 0.8px, 12px);
  margin-bottom: 24px;
height:auto;
  position: relative;

  @media screen and (max-width: 600px) {
    margin-bottom: 20px;
  }
}
.custom-div.error{
  border:1px solid red;
  display: flex;
  flex-flow: column;
  gap: clamp(8px, 0.8px, 12px);
  margin-bottom: 24px;
height:auto;
  position: relative;

  @media screen and (max-width: 600px) {
    margin-bottom: 20px;
  }
}
.custom-div.warning{
  border:1px solid yellow;
  display: flex;
  flex-flow: column;
  gap: clamp(8px, 0.8px, 12px);
  margin-bottom: 24px;
height:auto;
  position: relative;

  @media screen and (max-width: 600px) {
    margin-bottom: 20px;
  }
}


 .Input {
  color: #4e5152;
  border:1px solid black;
  height: 48px;
  width: 90%;
  border: none;
  background: none;
  outline: none;
  font-weight: 400;
  font-size: 14px;
  

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }

  &::placeholder {
    font-size: 14px;
    opacity: 0.7;
  }

  @media screen and (max-width: 600px) {
    font-size: 14px;
  }
}


.Show {
  cursor: pointer;
  color: #4e5152;
  font-size: 14px;

  @media screen and (max-width: 600px) {
    font-size: 14px;
  }
}

.Label {
  color: #4e5152;
  font-weight: 500;
  font-size: clamp(12px, 1.3vw, 14px);
}

.TextWrapper {
  margin-right: 10px;
  font-size: 0.8em;

  @media screen and (max-width: 600px) {
    margin-right: 18px;
  }
}

.Iconwrapper {
  margin-right: 20px;

  @media screen and (max-width: 600px) {
    margin-right: 18px;
  }
}

.RightIconwrapper {
  margin-left: 14px;

  @media screen and (max-width: 600px) {
    margin-right: 18px;
  }

}
.ErrMsg {
  position: relative;
  color: red;
  font-size: 12px;
  justify-content: center;
  align-items: center;
}
.WarnMsg{
  position: relative;
  color: #d77000;
  font-size: 12px;
  justify-content: center;
  align-items: center;
}

.Top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}



.BottomText {
  font-family: "BR Firma";
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  color: #4e5152;
}

