.layout-container{
    display: flex;
  flex-flow: column;
  width: 100%;
  
}
header{
    width:100%;
    
}
footer{
    width:100%;
    
}
.faq-section{
    width:100%;
    display:flex;
    align-items: center ;
    justify-content: center;;
}
body{
    width:100%;
}