.drawerWrapper{
    width: 393px;
    position:absolute;
    top:0px;
    right:0px;
   
    padding-top: 64px;
    padding-bottom: 176px;
    background: #700511;
    z-index: 1000;
    @media screen and (max-width: 400px) {
        width:200px;}

}
.cancelWrapper{
    width:100%;
    padding-right: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 40px;
   
}
.cancelImageWrapper{
    display: flex;
width: 40px;
height: 40px;
padding: 8px;
justify-content: center;
align-items: center;
border-radius: 8px;
background: #FFF;
}
.mobileLinkWrapper{
    display: inline-flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 54px;
width:100%;
}
.mobileLinkWrapper >p >a{
  
color: #FAFAFA;
font-family: Familjen Grotesk;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.lastMobileWrapper{
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 44px;
    width:100%;
    margin-top: 80px;
}
.phoneNumber{
    color: #FAFAFA;
font-family: Familjen Grotesk;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
}