.all-wrapper{
    max-width: 1240px;
   

padding: 64px 175px 103px 175px;
display:flex;
flex-direction: column;
justify-content: center;
gap: 32px;
border-radius: 40px;
background: #FBD0D5;


}
.heading{
    width:100%;
    color: #292D32;
    text-align: center;
    


font-size: 56px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.question-container{
 
    display: flex;
   
    gap:24px;
    flex-direction: column;
 

}