.mainReservationWrapper{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 120px;
}


.reservationWrapper{
    width: 819px;
    border-radius: 24px;
    background: #FFF;
    padding-top: 25px;
    padding-left:40px;
    padding-bottom:32px;
flex-shrink: 0;

}
.innerContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:16px;
    margin-bottom: 40px;
}
.contentDetails{
    display:flex;
    width:100%;
    align-items: center ;
    gap:16px;
    
}
.detailsBlock{
    color: var(--text-secondary, #4B4848);
font-family: Familjen Grotesk;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.filledDetailsBlock{
    color: var(--text-primary, #2C2B2B);
font-family: Familjen Grotesk;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.flexwrapper{
    display: flex;
   
    align-items: center;
    gap:32px;
}
.buttonCancelContainer{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;


}
.middleWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:64px;

}
    
.editWrapper{
    max-width: 196px;
}

.cancel{
    color: var(--text-secondary, #4B4848);

font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
cursor: pointer;
}