.miniDesc{
    display: flex;
    width: 100%;

}
.miniDesc img{
    margin-right: 20px;
}
.miniDesc p{
    width: fit-content;
    color: black;
    text-align: center;
    font-family: Familjen Grotesk;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 650px;
}