/* Entire Accomodation section */
.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.textLogoWrapper {
    display: flex;
    flex-direction: column;
    gap: 95px;
}

.card-wrapper {
    width:100%;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: auto;
    background-color: grey;
}



.map-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-inline: 100px;
    gap: 48px;
    margin-bottom: 110px;
}

.right-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-right: 28px;

}

.heading-wrapper {
    color: #2C2B2B;
    font-family: Familjen Grotesk;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 24px;
    width: 100%;

}

.Image-wrapper {
    display: flex;
    gap: 8px;
    margin-bottom: 40px;
}

.text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 16px;

}

.direction-wrapper {
    color: #2C2B2B;
    font-family: Familjen Grotesk;
    font-size: 40px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    width: 100%;
}

.text-wrapper p {
    color: #4B4848;
    font-family: Familjen Grotesk;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}