.textLogoWrapper h1{
    color: #292D32;
font-family: Familjen Grotesk;
font-size: 56px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-top:95px;
margin-bottom:48px ;
text-align: center;
width:100%;


}
.textLogoWrapper{
    display:flex;
    flex-direction: column;
   gap: 95px; 
}
.card-wrapper{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 100px;
}