.cardWrapper{ 
    width: 100%;
    display: grid;
    grid-template-columns: auto auto auto;
    padding-inline: 100px;
    gap: 24px;
    margin-bottom: 80px;
  
    @media screen and (min-width: 1900px) {
      grid-template-columns: auto auto auto auto;
      gap: 24px;
    }
  
    @media screen and (max-width: 700px) {
      grid-template-columns: none;
      gap: 24px;
    }}

  .singleCardWrapper{
    width:100%;
  }
  .button_Wrapper{
    width:100%;
   display: flex;
   align-items: center;
   justify-content: center;
  }