/* Div with background image */
.imageWrapperA {
  width: 100%;
  height: 20vh;
  background-image: url('../../assets/png/background.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

/* Black Div on-top of image */
.small-containerA {
  position: relative;
  width: 50%;
  height: 40%;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.50);
  z-index: 10;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* h2 title inside black div */
.small-containerA h2 {
  color: #FFF;
  font-family: Familjen Grotesk;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  justify-content: center;
}

/* Ipads */
@media (max-width: 991px) {
  .small-containerA  {
    margin-right: 0rem;
  }
}

/* Mobile */
@media (max-width: 767px) {
  .small-containerA  {
    width: 100%;
    margin: 1rem;
  }
}