.authWrapper{
    max-width: 716px;
    width: 100%;
   
    padding-block: 40px;


border-radius: 12px;
background: #FFF;
display:flex;
flex-direction: column;
align-items: center;
justify-content: center;
/* border: 1px solid red; */
}

.mainAuthContainer{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;


 
  
}

.innerAuthWrapper{
    max-width: 401px;
    width:100%;
    display:flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.authHeading{
    color: var(--text-primary, #2C2B2B);
text-align: center;
font-family: Familjen Grotesk;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-bottom: 8px;
}

.authSubheading{
    color: var(--text-secondary, #4B4848);
text-align: center;
font-family: Familjen Grotesk;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-bottom: 32px;
}
.authInputWrapper{
    display: flex;
flex-direction: column;
align-items: flex-start;
gap: 8px;
width:100%;

}