html {
  box-sizing: border-box;
  font-family: Familjen Grotesk;
  background-color: #9d2b2b;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  
}
p {
  margin: 0;
}

root {
  /* Colors variable */
  --text-primary: #2C2B2B;
  --text-secondary: #4B4848;
  
}
.allWrapper{
  width:100%;
}