
.all-Wrapper{
   
  max-width: 100%;
   
    display: flex;
    align-items: flex-start;
    justify-content: center;
    
flex-direction: column;
gap:24px;






}


.small-wrapper{
 
    width:100%;
    display: flex;

justify-content: space-between;
align-items: center;

}
.question {
    color: var(--text-primary, #2C2B2B);
    font-family: Familjen Grotesk;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.imageWrapper{
    display: flex;
width: 40px;
height: 40px;
padding: 8px;
justify-content: center;
align-items: center;
border-radius: 40px;
background: #FFF;
}

.answer{


    color: var(--text-secondary);

font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;

}